<h1>Edit Your Trip</h1>

<form method="post" action="/trips/<%= @trip.id %>">

<input id="hidden" type="hidden" name="_method" value="patch">
Park Name: <input type="string" value="<%=@trip.name%>" name="name"><br><br>
Park Location: <input type="string" value="<%=@trip.location%>" name="location"><br><br>
Date of Trip: <input type="date" value="<%=@trip.date%>" name="date"><br><br>
Site Number: <input type="integer" value="<%=@trip.site%>"name="site"><br><br>
Trip Details: <input type="textarea" value="<%=@trip.summary%>"name="summary"><br><br>
<input type="submit" value="submit">
</form>
