
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>

 <body>
   <h1><%= @user.username %>'s List of Camping Trips:</h1>
   <div class ="main tab_box">
   <ul>
     <ul>
       <% @user.trips.each do |trip|%>
       <a href="/trips/<%= trip.id %>">
       <%= trip.name %> - <%= trip.date %> </a><br>
       <% end %>
     </ul>
   </ul>

   <p><a href="/trips/new"> <button>Add New Trip</button></a></p>
   <p><a href="/users/<%= @user.id %>"><button>Your Profile</button></a></p>
   <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
 </div>
</html>
